@using MagicVilla.VillaWeb.Models.DTOs

@model VillaCreateDTO

<form asp-controller="Villa" asp-action="CreateVilla" method="post">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Villa</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-2">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Details" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-2">
                <textarea asp-for="Details" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-2">
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Occupancy" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-2">
                <input asp-for="Occupancy" class="form-control" />
                <span asp-validation-for="Occupancy" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Sqft" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-2">
                <input asp-for="Sqft" class="form-control" />
                <span asp-validation-for="Sqft" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Amenity" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-2">
                <textarea asp-for="Amenity" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Amenity" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2 pb-2">
                <a asp-action="IndexVilla" asp-controller="Villa" class="btn btn-lg btn-primary form-control">Back to List</a>
            </div>

            <div class="col-5 pb-2">
                <input type="submit" value="Create" class="btn btn-lg btn-success form-control" />
            </div>

        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}